<!DOCTYPE html>
<html>
<head>
  <title>Rails Eshop</title>
</head>

<body>
<div id="container">


  <div id="content">

    <div id="mainPhoto">
      <%= image_tag("topMainPhoto.png") %>

      <div id="whiteBoxMainPhoto">
        <div id="mainPhotoDesc">Rails Eshop</div>
        <div id="mainPhotoGreyDesc">
          Get access to over 9000 various products
        </div>
        <div id="mainPhotoCategoryLink">
          <%= link_to signup_path do %>
            Sign up now
            <%= image_tag("next.png") %>
          <% end %>
        </div>
      </div>
    </div>

  </div>


</div>

</div>

</body>
</html>