<h1 style="padding-bottom: 20px;">Add new shipping address</h1>

<% if @address.errors.any? %>
  <% @address.errors.full_messages.each do |msg| %>
    <ul>
      <li><%= msg %></li>
    </ul>
  <% end %>
<% end %>

<%= render 'layouts/address_form',address: @address %>