.indexAddressBox{
  border: 1px solid #9d9fa2;
  width:310px;
  height:170px;
  float:left;
}

.indexAddressBox{
  margin-left:10px;
  margin-bottom: 10px;
}

.indexAddressContentTable td{
  padding-bottom: 5px;
}

.indexEmptyAddressBox{
  margin-left:10px;
  border: 1px solid #9d9fa2;
  width:310px;
  height:170px;
  float:left;
}

.indexAddressContent{
  padding-left: 20px;
  padding-top: 30px;
}

.indexEmptyAddressBoxContent{
  width:310px;
  height:170px;
  line-height: 170px;
  text-align: center;
}

.indexAddressContentFooter{
  margin-top: 30px;
  margin-left:190px;
}