#categoryHeader {
  margin-top: 30px;
  float:left;
}

#categoryProductsTable {
  margin-top: 30px;
}

#categoryProductTile {
  margin-right:25px;
  width: 215px;
  float:left;
}

#categoryBoldGrey {
  font-weight: bold;
  color: #666;
  float: left;
}

#categorySellerInfo {
  margin-bottom: 10px;
}

#categoryThinGrey {
  color: #666;
  float: left;
}

#categoryProductPhoto{
  height:200px;
}

#categoryProductName{
  height:40px;
}
