#leftSide {
  width: 600px;
  float: left;
}

#rightSide {
  float: left;
}

#receipt {
  background-color: white;
  border-radius: 7px;
  margin-top: 15px;
  border-size: 0.5px;
  border-style: solid;
  border-width: thin;
  border-color: #9b9b9b;
}

#priceInfoTable td {
  padding-bottom: 10px;
}

#priceInfoTable {
  margin-right: 15px;
}

#estTotal {
  padding-top: 20px;
}

#estTotalRightTd {
  padding-left: 20px;
  padding-top: 20px;
}

.rightTd {
  padding-left: 20px;
}

#shippingRightTd {
  padding-left: 20px;
}

.headerInfo {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 25px;
}

.shippingTypeDeliveryTypeBox {
  margin-top: 30px;
  margin-right: 30px;
  width: 250px;
  height: 40px;
  border-radius: 3px;
  border: 0.5px solid #9b9b9b;
  text-align: center;
  font-size: 22px;
  display: table;
  background-color: white;
  float: left;
}

.shippingTypeDeliveryTypeBoxContent {
  display: table-cell;
  font-size: 22px;
  vertical-align: middle;
}

#shippingTypeProductsPhotos {
  width: 240px;
  margin-top: 100px;
}

#shippingTypeProductPhoto {
  float: left;
}

.shippingTypeDeliveryTypeInfoBox {
  width: 250px;
  height: 40px;
  border-radius: 3px;
  border: 0.5px solid #9b9b9b;
  background-color: white;
  float: left;
  margin-top: 20px;
  margin-left: 20px;
  display: table;
}

#shippingTypeArriveBy {
  float: left;
}

#shippingTypeArriveByLabel {
  float: left;
  vertical-align: middle;
  margin-left: 20px;
  margin-top: 30px;
}

#shippingTypeDeliveryTypeContentDate {
  display: table-cell;
  vertical-align: middle;
  padding-left: 10px;
}

#shippingTypeDeliveryTypeContentPriceInfo {
  display: table-cell;
  vertical-align: middle;
}

#continue {
  text-align: center;
  margin-top: 50px;
  margin-left: 380px;
  align: center;
  width: 200px;
  height: 40px;
  border-radius: 15px;
  background-color: #0980d7;
  color: white;
  font-size: 17px;
  position: relative;
}

.link-spanner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.unactiveLabel {
  color: #999A9A;
  font-size: 23px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.unactiveLabelTop {
  float: left;
  color: #666;
  font-size: 19px;
}

.checkoutEdit {
  float: left;
  margin-left: 320px;
  font-size: 19px;
}

.shippingAddressBox {
  border: 1px solid #9d9fa2;
  width: 230px;
  height: 170px;
  float: left;
}

.shippingAddressBox {
  margin-left: 10px;
  margin-bottom: 10px;
}

.shippingAddressContentTable td {
  padding-bottom: 5px;
}

.shippingAddressContent {
  padding-left: 20px;
}

.shippingEmptyAddressBox {
  margin-left: 10px;
  border: 1px solid #9d9fa2;
  width: 230px;
  height: 170px;
  float: left;
}

.shippingEmptyAddressBoxContent {
  width: 230px;
  height: 170px;
  line-height: 170px;
  text-align: center;
}

.shippingEmptyAddressBoxContent {
  width: 230px;
  height: 170px;
  line-height: 170px;
  text-align: center;
}