#formCreditCardsImage{
  margin-bottom:15px;
}

.indexCreditCardBox{
  border: 1px solid #9d9fa2;
  width:310px;
  height:170px;
  float:left;
}

.indexCreditCardBox{
  margin-left:10px;
  margin-bottom: 10px;
}

.indexCreditCardContentTable td{
  padding-bottom: 5px;
}

.creditCardContentLogo{
  float:left;
}

.indexCreditCardContentTable{
  float:left;
}

.indexCreditCardContent{
  padding-left: 10px;
  padding-top: 20px;
}

.indexCreditCardContentFooter{
  margin-top: 20px;
  margin-left:190px;
}