
<div id="accountSideTablesDiv">

  <h3 style="padding-bottom: 15px;">Account Actions</h3>

  <div>
    <h4>Manage Account</h4>
  </div>

  <table class="accountSideTable">

    <tr>
      <td>Purchase History</td>
    </tr>

    <tr>
      <td>Profile &amp; Password</td>
    </tr>

    <tr>
      <td><a class="blueHref" href="/account/showShippingAddress">Shipping
        Addresses</a></td>
    </tr>

    <tr>
      <td>Payment Methods</td>
    </tr>

    <tr>
      <td>Gift Cards</td>
    </tr>

  </table>

  <div>
    <h4>Customer Service</h4>
  </div>

  <table class="accountSideTable">

    <tr>
      <td>Help</td>
    </tr>

    <tr>
      <td>Contact Us</td>
    </tr>
  </table>
</div>